<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="/fragments/head :: head">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
        <img src="images/nav-bg.jpg" alt="">
    </div>
    <header th:replace="/fragments/header :: header">
  </div>
<!-- Profile Update SEction -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h4>
         Profile
        </h4>
        <img th:src="@{${photo}}" class="rounded-circle" style="width: 150px; float: left; padding: 10px 10px 10px 10px;" alt="Avatar"/>
      <!--Photo Upload Form-->
        <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>
        
        <form method="post" th:action="@{/update_photo}" enctype="multipart/form-data">
          <div class="form-group">
              <input type="file" name="file" class="form-control-file">
          </div>
          <button type="submit" class="btn btn-primary">Update photo</button>
      
        </form>

        
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="#"
                th:action="@{/profile}"
                th:object="${account}"
                method="post">
              <div>
                <input id="email" type="email" name="email" th:field="*{email}" class="form-control" placeholder="Email" required/>
  
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert">Enter Email</p>
  
              </div>
              <div>
                <input id="password" type="password" th:field="*{password}" class="form-control" placeholder="Password" required/>
  
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert">Please Enter Valid Password</p>
              
              </div>
  
              <div>
  
                <input id="FirstName" type="text" th:field="*{FirstName}" class="form-control" placeholder="First name" required/>
  
                <p th:if="${#fields.hasErrors('FirstName')}" th:errors="*{FirstName}" class="alert alert-danger" role="alert">FirstName Cannot Be Empty</p>
              </div>
              <div>
                <input id="LastName" type="text" th:field="*{LastName}" class="form-control" placeholder="Last name" required/>
  
                <p th:if="${#fields.hasErrors('LastName')}" th:errors="*{LastName}" class="alert alert-danger" role="alert">LastName Cannot Be Empty</p>
  
              </div>
  
              <div>
                <input id="age" type="number" th:field="*{age}" min="18" max="100"  class="form-control" placeholder="Age" required/>
                <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger" role="alert">Enter Valid age</p>
              </div>
  
              <div>
                <input id="Date_Of_Birth" type="date" th:field="*{Date_Of_Birth}" class="form-control" placeholder="Date of birth" required/>
                <p th:if="${#fields.hasErrors('Date_Of_Birth')}" th:errors="*{Date_Of_Birth}" class="alert alert-danger" role="alert">Date_Of_Birth Error</p>
              </div>
  
              <!-- <div>
                <select id="gender" name="gender" th:field="*{gender}" class="form-control">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
                <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="alert alert-danger" role="alert">gender Error</p>
              </div> -->
  
              <div class="btn_box">
                <button type="submit">
                  Update Profile
                </button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>

  <footer th:replace="/fragments/footer :: footer">
</body>

</html>